<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    
</head>

<body>
<div id="app">
    <input type="text" v-model="value">
    <ol>
        <li v-for="item in suggests">{{item[0]}}</li>
    </ol>
</div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                value: "",
                suggests: [],
            },

            methods: {
                getSuggests: function (keyword) {
                    axios
                        .get(
                            "http://api.kele8.cn/agent/https://suggest.taobao.com/sug?code=utf-8&q=" + keyword
                        )
                        .then((response) => {
                            console.log(this, response.data.result);
                            this.suggests = response.data.result;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },

            watch: {    
                value: function (n) {
                    this.getSuggests(n);
                },
            },
        });
    </script>
</body>

</html>